<div class="container title_wrapper">
  <div class="row">
    <div class="col-md-7 title text-left">
      <h1>Edit <%= @post.title %></h1>
    </div>
    <div class="col-md-5 text-right navbutton">
      <%= link_to "Return to Blog", posts_path, :class => "btn btn-success" %>
      <%= link_to "Remove Post", post_path(id: @post.id), method: :delete, :class => "btn btn-danger",
        data: {confirm: "Are you sure you want to remove this post?"}
      %>
    </div>
  </div>
</div>
<div class="container posts_wrapper">
  <%= render partial: 'addpost' %>
</div>
<%= render partial: 'footer' %>
