<div class="container title_wrapper">
  <div class="row">
    <div class="col-md-5 title text-left">
      <h1><%= @post.title %></h1>
    </div>
    <div class="col-md-7 text-right navbutton">
      <%= link_to "Return to Blog", posts_path, :class => "btn btn-success" %>
      <%= link_to "Edit Post", edit_post_path, :class => "btn btn-warning" %>
      <%= link_to "Remove Post", post_path(id: @post.id), method: :delete, :class => "btn btn-danger",
        data: {confirm: "Are you sure you want to remove this post?"}
      %>
    </div>
  </div>
</div>
<div class="container posts_wrapper">
  <div class="row">
    <blockquote>
      <%= @post.content %>
      <footer>By <%= @post.created_by %> @ <%= @post.created_at %></footer>
    </blockquote>
  </div>
</div>
<%= render partial: 'footer' %>
